*{text-align:center;margin:auto;background-color:azure;font-size:20px}
.btn{margin-top:50px;background-color:blue;color:white;width:10%;height:35px;border-radius:8px;cursor:pointer}
img{height:50px;width:auto;}
h2{margin-top:50px;border:groove;padding:1%;width:45%;background-color:white;color:green;font-size:30px;border-radius:5px}

