{% load static %}
<html>
  <head>
	<title>Add Department Page</title>
	<link rel="stylesheet" href="{% static 'css/createDepartment.css' %}"></link>
  </head>
  <body>
 	<nav>
		<a href="{% url 'home' %}">Home</a>
		<a href="{% url 'view_dept' %}">View Department</a>
		<a href="{% url 'add_stdn' %}">Student</a>
 	</nav>


	<h1> Add Department Page</h1>
	<form method="POST">
	{% csrf_token %}
		{{form}}
		<br>
		<input type="submit" value="Create Department">
		<br>
		<br>


	
		{{message}}
  </body>

</html>