*{text-align:center;margin:auto;font-size:25px}
body{ background-color: #f9f9f9;}
h1{margin:30px auto;
   background-color:white;
   color:blue;
   border:inset;
   width:30%;
   padding:2px;
   border-radius:5px;
font-size:40px
}


.formcontainer{
	border:inset;
	   width:38%;
	padding:15px;
	border-radius:5px;
	background-color:#d4edda;

}

table{border:none;
}

input[type="number"]{
width:100%;

}

tr{background-color:white}



input[type="submit"]{
background-color:blue;
color:white;
padding:10px;
border-radius:5px
}

input[type="submit"]:hover{cursor:pointer}



nav{
text-align:right;
margin-right:458px;
font-size:30px;
background-color:orange;
color:black;
width:10%;
padding:10px;
   border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
font-weight:bold;
margin-bottom:5px;


}










