*{
    text-align:center;
    margin:auto;
    font-size:22px;
}

body{
    background-color:#f8f9fa;
}

h1{
    margin:30px auto;
    background-color:white;
    color:#c82333;
    border:solid 1px #c82333;
    width:25%;
    padding:8px;
    border-radius:6px;
    font-size:35px;
}
nav{
    text-align:center;
    margin-right:458px;
    font-size:30px;
    background: linear-gradient(135deg, #ff9966, #ff5e62); /* soft gradient */
    color:white;
    width:15%;
    padding:10px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    font-weight:bold;
    margin-bottom:5px;
}

nav a{
    margin:0 12px;
    text-decoration:none;
    color:#0d6efd;
    font-weight:bold;
    font-size:24px;
}

table{
    background:white;
    width:40%;
    border-collapse:collapse;
    margin-top:20px;
}

th, td{
    padding:10px;
}

input[type="submit"]{
    background-color:#dc3545;
    color:white;
    padding:10px 20px;
    border-radius:6px;
    border:none;
    font-size:20px;
}

input[type="submit"]:hover{
    cursor:pointer;
    background-color:#c82333;
}
