*{
	text-align:center;
	font-size:30px;	
	margin:auto
} 

nav{

	background-color:black;
	padding:12px;
	margin:20px auto;
	border-radius:8px;
	border:inset
	}

nav a{
	margin:100px; 
	text-decoration:none;
	font-size:30px;
	color:white;

	}

nav a:hover{
	cursor:pointer;
	color:orange;
	}


h1{
	background-color:blue;
	color:white;
	margin: 20Px auto;
	width:36%;
	border-radius:5px;
	padding:10px;

}


form{
    width: 30%;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Django form labels */
form label{
    display: block;
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px;
}

/* Django form inputs */
form input,
form select,
form textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 14px;
}

/* Submit button */
 input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

 input[type="submit"]:hover{
    background-color: #0056b3;
}


