*{
	text-align:center;
	font-size:30px;	
	margin:auto
} 

nav{

	background-color:black;
	padding:12px;
	margin:20px auto;
	border-radius:8px;
	border:inset
	}

nav a{
	margin:10%; 
	text-decoration:none;
	font-size:30px;
	color:white;

	}

nav a:hover{
	cursor:pointer;
	color:orange;

	}


h1{
	background-color:blue;
	color:white;
	margin: 20Px auto;
	width:36%;
	border-radius:5px;
	padding:10px;

}

