*{
	text-align:center;
	font-size:30px;	
	margin:auto
} 

nav{

	background-color:black;
	padding:12px;
	margin:20px auto;
	border-radius:8px;
	border:inset
	}

nav a{
	margin:100px; 
	text-decoration:none;
	font-size:30px;
	color:white;

	}

nav a:hover{
	cursor:pointer;
	color:orange;

	}


h1{
	background-color:blue;
	color:white;
	margin: 20Px auto;
	width:36%;
	border-radius:5px;
	padding:10px;

}


table {
    width: 70%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    border: 2px solid #333;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

/* departmentTable.css */

table {
    width: 70%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    border: 2px solid #333;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

td a {
    text-decoration: none;
    color: white;
    background-color: #d9534f;
    padding: 6px 12px;
    border-radius: 4px;
}

td a:hover {
    background-color: #c9302c;
}
